.mainBox_background{
	background: #01a253;
	padding:25px 40px;
	margin-top:5px;
	margin-bottom:2px;
	width:100%;
}
.mainBox{
	background-color: #FFF;
	height:1700px;
	padding-top:30px;
}
.Title{
	margin-left:60px;
	padding:1px;
}
.Title img{
	display: inline-block;
	margin-right:30px;
	height:38px;
	width:auto;
}
#upload_file{
	display: none;
}
.Upload{
	margin-left:40px;
	padding:1px;
	margin-top: 22px;
}
#select_file{
	width:90px;
	color:#FFF;
	background-color: #01a253;
	text-align: center;
	border:1px solid #c0c0c0;
	padding-top:2px;
	padding-bottom:2px;
}
#select_file:hover{
	background-color: #038847;
}
#upload_file_road{
	margin-left:2px;
	height:26.5px;
	width:300px;
}
#submit{
	width:90px;
	color:#01a253;
	margin-left:2px;
	border:1px solid #01a253;
	padding-top:2px;
	padding-bottom:2px;
	border-radius: 5px;
	background-color: #FFF;
	text-align: center;
}