.user_root_container {
	background-color: rgb(1, 162, 83);
	width: 100%;
	height: 1568px;
	padding-top: 25px;
	z-index: 13;
}
.white_bg {
	background-color: rgb(255, 255, 255);
	margin-left: 44px;
	margin-right: 44px;
	height: 1568px;
	z-index: 14;
	position: relative;
}
.user_root_title {
	position: absolute;
	top: 25px;
	left: 75px;
	height: 78px;
	line-height: 78px;
	width: 60%;
}
.user_root_title span {
	position: absolute;
	top: 10px;
	font-size: 37.5px;
	color: rgb(1, 162, 83);
	line-height: 1.5;
	margin-left: 35px;
	letter-spacing: 12px;
}
.user_info {
	width: 65%;
	height: 55px;
	position: absolute;
	top: 200px;
	margin-left: 162px;
}
.user_headimg {
	border: 1.25px solid rgb(1, 162, 83);
	-webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -moz-border-radius: 50%;
	border-radius: 50%;
	width: 48.5px;
  	height: 48.5px;
  	line-height: 43px;
  	float: left;
  	text-align: center;
}
.user_name_and_id {
	width: 65%;
	height: 48.5px;
	line-height: 48.5px;
	margin-left: 70px;
}
.user_name_and_id div {
	float: left;
	font-size: 14.583px;
	height: 75%;
	width: 110px;
	border-bottom: 1px solid rgb(1, 162, 83);
}
.user_name_and_id div:first-child {
	margin-right: 45px;
}
.user_root_table {
	list-style: none;
	float: none;
	position: absolute;
	top: 280px;
	margin-left: 162px;
}
.user_root_table ul {
	list-style: none;
	text-align: center;
	float: left;
}
.user_root_table ul li {
	height: 42px;
	line-height: 42px;
	border: 1px solid rgb(1, 162, 83);
	border-bottom: none;
	text-align: center;
}
/* .user_root_table ul:not(:last-child) li {
	width: 120px;
	border-right: none;
} */
.user_root_table ul:first-child li {
	width: 120px;
	border-right: none;
}
.user_root_table ul:nth-child(2) li {
	width: 220px;
	border-right: none;
}
.user_root_table ul:last-child li {
	width: 200px;
}
/* .user_root_table ul:last-child li:not(:first-child) {
	width: 260px;
	border: none;
} */
.user_root_table ul li:first-child {
	font-size: 14.583px;
	color: rgb(1, 162, 83);
	line-height: 3.143;
	height: 50px;
	line-height: 50px;
}
.user_root_table ul li:last-child {
	border-bottom: 1px solid rgb(1, 162, 83);
}
.user_root_save_button {
	font-size: 16.667px;
	width: 97.5px;
	height: 27.5px;
	border: 1.25px solid rgb(1, 162, 83);
	-webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
	border-radius: 10px;
	color: rgb(1, 162, 83);
	position: absolute;
	top: 300px;
	left: 442px;
	text-align: center;
	background-color: #FFF;
}
input[type="submit"] {
	outline: none;
}
select {
    width: 200px;
    height: 42px;
    border: 1.25px solid rgb(1, 162, 83);
    border-left: none;
    border-right: none;
    margin-top: -1px;
    color: #000;
    background-repeat: no-repeat;
    background-size: 12%;
    background-image: url("../img/user_root/icon_of_root_button.png");
    background-position: 165px 15px, 183px 10px, right top, 120px top;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-outline: none;
    -ms-outline: none;
    -moz-outline: none;
    outline: none;
}
.last_ul li:not(:first-child) select {
	border-bottom: none;
}
.last_ul li:last-child select {
	border-bottom: 1.25px solid rgb(1, 162, 83);
}